<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>AboutMe</title>
</head>
<body>

<div class="wrapper">
    <div class="intro">
        <h2>About Me</h2>
        <p>I'm a 21-year-old computer science student currently enrolled in the co-op program at Concordia University. Having just completed my first year, I'm passionate about exploring the ever-evolving world of technology, with a particular interest in software and web development. My journey in computer science is driven by a love for problem-solving and a desire to create impactful solutions.</p>

        <h4>Academic Background</h4>
        <p>I’m pursuing a Bachelor’s degree in Computer Science at Concordia University. Throughout my first year, I’ve developed a strong foundation in programming, working with languages like Java, HTML, CSS, and JavaScript. My academic experience has not only strengthened my technical skills but also fueled my enthusiasm for the field.</p>

        <h4>Skills and Interests</h4>
        <div>
            <p>I have hands on experience with:<p></p>
            <ul>
                <li><b>Programming Languages: </b>Java, HTML, CSS, JavaScript</li>
                <li><b>Development Tools: </b> GitHub, Node.js, npm</li>
                <li><b>Web Development: </b> Building responsive and user-friendly websites</li>
            </ul>
        </div>
        <p>My interests lie in full-stack development, with a strong focus on front-end design, where I can blend creativity with functionality. While most of my experience has been in building user-friendly interfaces, I've also explored the basics of back-end development by creating simple servers. I'm eager to deepen my knowledge of software engineering practices and contribute to projects that bring together technology and real-world applications.</p>

        <h4>CO-OP Experience</h4>
        <p>As a participant in Concordia’s co-op program, I’m excited about the opportunity to apply my classroom knowledge to real-world challenges. I’m looking forward to gaining valuable industry experience, learning from professionals in the field, and contributing to meaningful projects during my co-op placements.</p>

        <h4>Future Goals</h4>
        <p>My goal is to advance my skills as a full-stack developer, enabling me to create and deliver complete web applications from concept to deployment. I'm particularly interested in using my skills to create innovative solutions that enhance user experiences and drive efficiency in real-world scenarios.</p>

        <h4>Lets Connect!</h4>

    </div>

    <div class="image">
        <img src="/img/girl-coding.png">
    </div>

</div>


</body>
</html>