<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>

<div class="wrap">
    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="/img/program-girl.gif">
                <img id="slide-2" src="/img/7Stb.gif">
                <img id="slide-3" src="/img/htmlcssjs-overview.png">
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </section>

    <div class="about">
        <p class="brief-intro">Hi, I'm Lola!<br><br>
            I'm a 21-year-old computer science student at Concordia University, currently enrolled in the CO-OP program. Having just completed my first year, I'm eager to dive deeper into the world of web and software development. With a strong foundation in Java, HTML, CSS, and JavaScript, I've worked on a couple personal projects that have honed my skills and fueled my passion for technology. Through my co-op experiences, I'm looking forward to applying what I've learned in real-world settings, contributing to innovative projects, and continuing to grow as a developer.<br><br></p>
        <p>Telephone number: 514-777-8191</p>
        <p><a href="mailto:arroyolola2003@gmail.com">email: arroyolola2003@gmail.com</a></p>
        <p><a href="https://www.linkedin.com/in/lola-arroyo-929390261/?trk=opento_sprofile_details">linkedin</a></p>
        <p><a href="https://github.com/lolaarroyo0215">Github</a></p>
    </div>

    <div class="project-wrapper">
        <p>Personal Projects</p>

        <div class="project-container">
            <figure>
                <a href="https://soen287-a3-q4-43ko.onrender.com" alt="Paw Prints Webpage">
                <div class="project">
                    <img src="/img/PawPrintsSnip.PNG" title="Click to Visit!">
                </div>
                </a>
                <figcaption>
                    <p class="title">Pet Adoption Agency Webpage<br></p>
                    <p class="description">This interactive pet adoption webpage allows users to log in and out, requiring account creation for browsing available pets. The site features forms for both adopting and registering pets, complete with form validation and password security. <br><br>Built using JavaScript, HTML, CSS, and Node.js, it ensures a secure and user-friendly experience for managing pet adoptions.</p>
                    <a href="https://github.com/lolaarroyo0215/SOEN287_A3_Q4">code files - github</a>
                </figcaption>
            </figure>

            <figure>
                <a href="#">
                    <div class="project">
                        <img src="/img/Ocean_world_Earth.jpg" title="Click to Visit!">
                    </div>
                </a>
                <figcaption>
                    <p class="title">Recipe Webpage<br></p>
                    <p class="description">Description</p>
                    <a href="https://github.com/lolaarroyo0215/Recipe_Vault">code files - github</a>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="skills">
        <h4>Technical Skills</h4>
        <p>Programming Languages</p>
            <ul>
                <li>Java</li>
                <li>JavaScript</li>
            </ul>
        <p>Web Development</p>
            <ul>
                <li>HTML,CSS</li>
                <li>Backend Frameworks: Node.js</li>
            </ul>
        <p>Software Development</p>
            <ul>
                <li>Version Control Systems: Git, GitHub</li>
                <li>IDEs: IntelliJ, Eclipse, Webstorm, Sublime Text</li>
            </ul>
        <p>Operating Systems</p>
            <ul>
                <li>Windows</li>
            </ul>

    </div>

    <div class="experience">
        <p>Some of my experience includes...</p>
        <button><a href="#" download="#">Download CV</a></button>
    </div>


</div>

</body>
</html>